.btn{
    margin-right: 5px;
}
.markedAsDone{
    text-decoration: line-through;
    color:  #777;
}
.showDone{
    visibility: visible;
}
.hideDone{
    visibility: hidden;
}
.showDanger{
    visibility: visible;  
}
.hideDanger{
    visibility: hidden;
}
.showWarning{
    visibility: visible;
}
.hideWarning{
    visibility: hidden;
}